{% include head.html %}





<div id="contents" class="page_home">
  <div class="recent-post container">
    <div class="cover" style="background-image:url('{{site.parallax_image_one}}');"></div>
    <div class="row ">
      <div class="content col s12 m12 l6">
        <div class="card-panel">
            <h4>Title title</h4>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>




  <div class="container">
    <div id="blog" class="section">
      <!-- <h3>Blog</h3> -->
      {% include blog-feed.html %}
    </div>

    <div id="portfolio" class="section">
      <!-- <h3>{{site.portfolio_heading}}</h3> -->
      {% include portfolio_{{site.portfolio_type}}.html %}
    </div>
  </div>
</div>














<!-- {% include nav-burger.html %} -->

{% include footer.html %}
